.bottom {
  display: flex;
  justify-content: space-between;
  padding: 26px 0 8px;

  &__emblems {
    display: flex;
    align-items: center;
    height: 37px;
  }

  &__text {
    position: relative;
    margin-left: 22px;
    padding-left: 15px;
    font-size: 12px;
    color: #a0a9b2;
  }

  &__text::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 42px;
    left: 0;
    top: calc(50% - 21px);
    background-color: #fff;
    opacity: 0.1;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 670px;
  }
}
